@{
    Layout = "~/Views/Shared/_NEILRENLayout.cshtml";
    ViewBag.Title = "关于NEILREN.COM";
}
<ul class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li>@Html.ActionLink("关于", "", "About", new object { }, new object { })</li>
    <li class="active">关于NEILREN.COM</li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-columns"></span> 关于NEILREN.COM</h2>
</div>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>NEILREN.COM</h3>
                    <p style="text-align:inherit">
                        <div style="width:70px;height:60px;float:left;padding:10px;padding-top:0;">
                            <img src="//cdn.neilren.com/Logo/NeilCat/NeilCat.svg" width="50" alt="Neil Cat" />
                        </div>
                        NEILREN.COM 是 任霏 个人运营的网站，最早建立于2009年，经历 bennett-ren.com、ren-fei.com，最终于2013年 使用 NEILREN.COM 作为网站域名。
                        是一个关注分享互联网、软件开发、IT技术的资讯、博客、社区网站。网站图文类作品使用 Creative Commons 协议（CC BY-NC-ND）进行共享，同时也主要转载使用 CC 协议的网站图文。软件类主要使用
                        GNU通用公共许可证 进行共享和传播。未标注自由软件的软件程序，可能闭源与收费，版权归原作者或公司所有。
                        软件开发者、站长欢迎加入交流群：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f0658d517a1f86115a7e780ae9b33986e3a93815d931c86611fdba84f322e95d">130832168</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tocify-content">
                        <h2>关于 NEILREN.COM 网站</h2>
                        <p>NEILREN.COM 是由任霏个人运维的网站，专注于计算机、软件开发、建站等科技方面的分享，包括图文、软件。并向公众提供我个人开发的一些小软件和小工具。版权和许可协议主要使用 CC BY-NC-ND 知识共享版权。</p>
                        <p>
                            您当前看到的 NEILREN.COM 是第三次大改版之后，在这之前使用 PHP 开源项目 WordPress 来驱动的个人博客，在2015年4月，我大学即将毕业，去公司进行实习，实习的确能使人快速的提高
                            在这里不得不感谢“马老师”，在很巧合，我被试用的第一家公司就是一位姓马的技术带的我，第一次和不认识的技术男交流，让我学到了很多，不用微软提供的控件来完成一个表格，马技术说“这才是开发”，
                            让我萌生了自己做东西的兴趣，最后因为待遇问题去了第二家公司，很巧，带我的也是姓马的马老师，学到了很多，再此之前，网页从不知道第三方框架，跟马老师那知道了第三方框架，知道了MVC，呵呵这是
                            我第一次听说MVC，也要感谢张总监，张哥给我一个开发反馈平台的机会，虽然不能很牛的交付，但最重要的是给了我信心，在反馈平台开发出来以后，我有很大的兴趣想完全自己做一个网站，就这样，使用
                            前端第三方框架，学习MVC，在一个月的闲余时间，开发出了自己的网站，不再使用 WordPress和MySQL，自己使用 ASP.NET MVC 和 SQL Server 开发出了这个网站。包括博客文章、说说、相册、开发者工具箱、
                            短网址等服务。
                        </p>

                        <h2>关于 NEILREN.COM 的图案标识</h2>
                        <p>
                            NEILREN.COM 所使用的标识图案，简称为 NeilCat。随着新网站的上线，我们启用了新的图形标识
                            Neil Cat（尼欧猫）代替原有的 NEILREN.COM 文字标识。
                        </p>
                        <p>
                            猫行动敏捷，善跳跃。猫能在高墙上若无其事地散步，轻盈跳跃。这主要得益于猫的出类拔萃的反应神经和平衡感。
                            寓意敏捷开发，快速飞跃。同时猫是昼伏夜出的动物，与Programmer的熬夜特点一致。并且猫在一天中有14~15小时
                            在睡眠中度过，被称为懒猫，懒，我一直认为是程序员的优秀品质，只有懒的人才能做出好用的软件，因为懒的人
                            才能做出好用的软件，因为懒人会想方设法的偷懒，而计算机的发明目的，就是帮助人类偷懒，只有能帮助人类偷懒
                            的软件，我认为才是优秀的软件。
                        </p>

                        <h3>获取 NEILREN.COM 的标识图形</h3>
                        <p>
                            合作伙伴或者友情站，可能需要我站的标识图形，为此我们提供了一些标识标识图形，如果这些图形依然不能满足贵站的UI要求，可
                            联系我们，为您定制和您贵站UI统一的标识图形。
                        </p>
                        <div class="col-md-4 scCol ui-sortable">
                            <div class="panel panel-info">
                                <div class="panel-heading ui-draggable-handle ui-sortable-handle">
                                </div>
                                <div class="panel-body">
                                    SVG矢量图形：<br />
                                    黑色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat.svg" target="_blank">
                                    //cdn.neilren.com/Logo/NeilCat/NeilCat.svg
                                    </a><br />
                                    黑反色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat_Backward.svg" target="_blank">
                                        //cdn.neilren.com/Logo/NeilCat/NeilCat_Backward.svg
                                    </a><br />
                                    灰色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat_Grey.svg" target="_blank">
                                        //cdn.neilren.com/Logo/NeilCat/NeilCat_Grey.svg
                                    </a><br />
                                    灰反色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat_Backward_Grey.svg" target="_blank">//cdn.neilren.com/Logo/NeilCat/NeilCat_Backward_Grey.svg</a><br />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 scCol ui-sortable">
                            <div class="panel panel-info">
                                <div class="panel-heading ui-draggable-handle ui-sortable-handle">
                                </div>
                                <div class="panel-body">
                                    PNG图形：<br />
                                    黑色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat.png" target="_blank">
                                        //cdn.neilren.com/Logo/NeilCat/NeilCat.png
                                    </a><br />
                                    黑反色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat_Backward.png" target="_blank">
                                        //cdn.neilren.com/Logo/NeilCat/NeilCat_Backward.png
                                    </a><br />
                                    灰色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat_Grey.png" target="_blank">
                                        //cdn.neilren.com/Logo/NeilCat/NeilCat_Grey.png
                                    </a><br />
                                    灰反色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat_Backward_Grey.png" target="_blank">//cdn.neilren.com/Logo/NeilCat/NeilCat_Backward_Grey.png</a><br />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 scCol ui-sortable">
                            <div class="panel panel-info">
                                <div class="panel-heading ui-draggable-handle ui-sortable-handle">
                                </div>
                                <div class="panel-body">
                                    JPG图形：<br />
                                    黑色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat.jpg" target="_blank">
                                        //cdn.neilren.com/Logo/NeilCat/NeilCat.jpg
                                    </a><br />
                                    黑反色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat_Backward.jpg" target="_blank">
                                        //cdn.neilren.com/Logo/NeilCat/NeilCat_Backward.jpg
                                    </a><br />
                                    灰色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat_Grey.jpg" target="_blank">
                                        //cdn.neilren.com/Logo/NeilCat/NeilCat_Grey.jpg
                                    </a><br />
                                    灰反色：<a href="//cdn.neilren.com/Logo/NeilCat/NeilCat_Backward_Grey.jpg" target="_blank">//cdn.neilren.com/Logo/NeilCat/NeilCat_Backward_Grey.jpg</a><br />
                                </div>
                            </div>
                        </div>

                        <h2>关于 网站分享的作品与软件</h2>
                        <p>
                            网站图文来源包括原创和转载，由于网站改版造成文章属性丢失，在2015年7月之前发表和转载的文章统一标识为原创，如果侵犯了您的版权，请联系我。
                            我们使用 CC BY-NC-ND 知识共享版权，您在标注出处、作者、不修改内容、不用于商业目的，并且依然使用同样的 CC 协议时，您可以进行转载和自由传播。
                            当图文中出现相关公司和标识、作品等版权归原公司和作者所有，收到授权时，我们会进行标注，请知悉。
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="position: relative;">
            <div id="tocify"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var toc = $("#tocify").tocify({ context: ".tocify-content", showEffect: "fadeIn", extendPage: false, selectors: "h2, h3, h4" });
    });
</script>

