@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>500 内部服务器错误</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href="/Content/css/theme-default.css" rel="stylesheet" />
</head>
<body>
    <div class="error-container">
        <div class="error-code">500</div>
        <div class="error-text">内部服务器错误</div>
        <div class="error-subtext">服务器遇到一个内部错误或配置错误，无法完成您的请求。我们对此表示歉意，同时希望您能将遇到的此问题反馈给我们，谢谢您的理解。联系方式：Mail@NeilRen.Com</div>
    </div>
</body>
</html>