@{
    Layout = "~/Views/Shared/_NEILRENLayout.cshtml";
    ViewBag.Title = "在线去重工具 - 开发者工具箱";
}
<ul class="breadcrumb push-down-0">
    <li><a href="#">首页</a></li>
    <li>@Html.ActionLink("开发者工具箱", "", "Tools", new { }, new { })</li>
    <li class="active">在线去重工具</li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-columns"></span> 在线去重工具</h2>
</div>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-9">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <h3 class="panel-title"><strong>在线去重工具</strong> -开发者工具箱</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <span class="help-block">将列表内容放入文本框内，每行一条，点击去重按钮，即可得到无重复数据的列表：</span>
                                <textarea class="form-control" rows="5" id="list" name="list" style="height:250px;">开发者工具箱
www.neilren.com
开发者工具箱
www.neil.ren
开发者工具箱
www.neilren.com
工具箱
www.neilren.com
www.neil.ren
工具箱
www.neilren.com</textarea>

                            </div>
                            <div class="col-md-12 col-xs-12">
                                <button type="button" id="beautify" class="btn btn-success" onclick="process()">去重处理</button>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        function unique(ary) {
                            var i = 0,
                                gid = '_' + (+new Date) + Math.random(),
                                objs = [],
                                hash = {
                                    'string': {},
                                    'boolean': {},
                                    'number': {}
                                }, p, l = ary.length,
                                ret = [];
                            for (; i < l; i++) {
                                p = ary[i];
                                if (p == null) continue;
                                tp = typeof p;
                                if (tp in hash) {
                                    if (!(p in hash[tp])) {
                                        hash[tp][p] = 1;
                                        ret.push(p);
                                    }
                                } else {
                                    if (p[gid]) continue;
                                    p[gid] = 1;
                                    objs.push(p);
                                    ret.push(p);
                                }
                            }
                            for (i = 0, l = objs.length; i < l; i++) {
                                p = objs[i];
                                p[gid] = undefined;
                                delete p[gid];
                            }
                            return ret;
                        }

                        function process() {
                            list = document.getElementById('list');
                            arr = list.value.split('\n');
                            arr = unique(arr);
                            list.value = "";
                            for (key in arr) {
                                list.value += arr[key] + '\n';
                            }
                        }
                    </script>

                    <div class="panel-body">
                        <p>
                            去除文本列表中的重复项
                        </p>
                    </div>
                    <div class="row">
                        <div class="panel-body">
                            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a></div>
                            <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "16" }, "share": { "bdSize": 16 }, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <!-- 多说评论框 start -->
                        <div class="ds-thread" data-thread-key="Quchong" data-title="在线去重工具 - 开发者工具箱" data-url="//www.neilren.com/Tools/Quchong"></div>
                        <!-- 多说评论框 end -->
                        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                        <script type="text/javascript">
                            var duoshuoQuery = { short_name: "neilren" };
                            (function () {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript'; ds.async = true;
                                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0]
                                 || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                        </script>
                        <!-- 多说公共JS代码 end -->
                    </div>
                </div>
            </form>
        </div>
        @RenderPage("~/Views/Shared/_ToolsRigth.cshtml", new { })
    </div>
</div>